<a href="https://colab.research.google.com/github/KTeswar15/Programming-for-DS/blob/main/Copy_of_07_More_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More pandas exercises

Create a Colab notebook. Complete the tasks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

1.  Load the following dataset into Colab and perform the requested operations in code.

 Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [3]:
# Load pandas and the data

import pandas as pd

ride_sharing = pd.read_csv('/content/ride_sharing.csv')

In [4]:
# show how many rows and columns are in this dataset

# print('total:', ride_sharing.shape)
# above represents number of rows and columns

print('number of rows:', ride_sharing.shape[0])
print('number of columns:', ride_sharing.shape[1])

number of rows: 25760
number of columns: 10

In [5]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)


ride_sharing['duration'] = ride_sharing['duration'].astype(str).str.strip(' minutes')
ride_sharing['duration'] = ride_sharing['duration'].astype('int')

# print(ride_sharing.duration[0])
# print(type(ride_sharing.duration[0]))
# the print statement verifies if my two lines of code worked, and they did work.

In [6]:
# Now display the datatypes in the updated dataframe

print(ride_sharing.dtypes)

duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [7]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.

print("longest duration:" , ride_sharing.duration.max())
print('shortest duration:', ride_sharing.duration.min())

longest duration: 1372
shortest duration: 1

In [8]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.

new_data = ride_sharing[ride_sharing['duration']<=60]

# print(new_data.duration.shape)
#print statement was used to confirm if the number of rows in duration column decreaes based on the filter

In [9]:
# Now show both the min and max values of the duration column for your new dataset.

print('longest wait time under 60 min:', new_data.duration.max())
print('shortest wait time under 60 min:', new_data.duration.min())

longest wait time under 60 min: 60
shortest wait time under 60 min: 1

In [10]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.

new_data = new_data[new_data['tire_size']==26]

#print(new_data.tire_size)
#print statment used to verify if the code worked

In [11]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.
females = ride_sharing[ride_sharing['user_gender']=="Female"].shape[0]
print('number of female riders using a 26 inch wheel for one hour or less:' , females)

number of female riders using a 26 inch wheel for one hour or less: 6027

2. Find the file `more-messy-data.csv` on GitHub and upload it into Google Colab.

Create a new Pandas DataFrame from that data and perform the following steps.

In [12]:
# Write a snippet of code that will display the number of duplicate rows exist in the DF.
import pandas as pd

messy_data = pd.read_csv('/content/more-messy-data.csv')

duplicates = messy_data.duplicated().sum()
print('number of duplicated rows:' , duplicates)
#print(messy_data.shape)
#incldued this print statement to see how many rows there are

number of duplicated rows: 287

In [13]:
# Next, remove all duplicate rows using Python.

no_dupes = messy_data.drop_duplicates()
#print(no_dupes.shape)
#included this print statement to see if the rows were successfully deleted

In [25]:
# For the FOUR columns involving sepal and petal length and width, update all NaN
# values with the column mean.

columns_to_update = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

# Iterate over each column
for column in columns_to_update:
    # Calculate the mean of the column
    column_mean = no_dupes[column].mean()
    # Fill NaN values with the mean
    no_dupes[column].fillna(column_mean, inplace=True)

# Print the updated DataFrame
# print(no_dupes.sepal_length)
# print(no_dupes.petal_length)
# print(no_dupes.sepal_width)
# print(no_dupes.petal_width)
#print statemetns were used to verify if the code worked and that there is no more NaN

<ipython-input-25-28e54c28a7ec>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_dupes[column].fillna(column_mean, inplace=True)

In [27]:
# Find any values in the dataframe that are still missing, and delete them.
no_dupes_dropped = no_dupes.dropna()

In [35]:
# How many different species are there?
# no_dupes_dropped['species'] = no_dupes_dropped['species'].str.lower()
unique_species = no_dupes_dropped['species'].nunique()
print('number of unique species:' , unique_species)

number of unique species: 7

In [39]:
# Clean up the 'species' variable so that there are exactly three different values.
no_dupes_dropped['species'] = no_dupes_dropped['species'].str.lower()
#changes the entire column to lower case values
# print(no_dupes_dropped.species)
print(no_dupes_dropped['species'].nunique())

#was not able to get 3 different value, however the code shows that there are 7 different species

7

<ipython-input-39-fa0380e40933>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_dupes_dropped['species'] = no_dupes_dropped['species'].str.lower()

3. Bonus:  Regular expressions

Ordinary (non-vanity) Virginia license plates have the form `ABC1234`, meaning they have three upper case letters followed by four digits.  Write a regular expression that matches any string of this form (and doesn't match anything else).  Test your expression with code to make sure it works.

To figure out out how to do this, start with the sample code below.  The `re` package has various functions related to regular expressions, including for example `match()`, which takes two arguments, first the regular expression and second the test string, and tests to see whether the *beginning* of the `test` string matches the pattern `exp`.

Note that `re.match(exp,test)` does not return a boolean variable, as you might expect (in other words, a match doesn't return `True` and a non-match `False`).  The type of object you get is called `re.Match`, which is a data type special to the `re` package.  (The reason for this is that the object contains more information than just whether there is a match or not.) However, you can turn it into a boolean using `bool()` if you want.

Include the following in the notebook you submit:

 1. A regular expression in a text chunk
 2. One or more code chunks in which you test several strings to verify that your regex is correct.
 3. Make sure you display the results of testing various strings.

 See this [documentation page](https://docs.python.org/3/howto/regex.html#regex-howto) for further help.

In [ ]:
# Sample code for testing whether a string matches a regex

# First import this package for working with regular expressions
import re

# Here is an example.
# Play around with different expressions and test strings to see what happens.
exp = 'ab+'
test = 'aabbbc'

if re.match(exp,test):
  print("match!")
else:
  print("no match")

# uncomment this line if you want
# print(type(re.match(exp,test)))

# uncomment this line if you want
# print(bool(re.match(exp,test)))